@use './fonts';
@use './variables';
@use './mixins';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', -apple-system, sans-serif;
  font-size: 14px;
  color: #213F7D;
  line-height: 1.5;
}

