@use "./variables" as *;

.user-info-card {
  background: $white;
  border-radius: 4px;
  padding: 24px;
  box-shadow: $box-shadow;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(223, 24, 255, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    font-size: 14px;
    color: $primary-gray;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }

  &__value {
    font-size: 24px;
    color: $primary-blue;
    font-weight: $font-weight-bold;
  }
}