@use "./variables" as *;

.users-page {
  &__title {
    font-size: 24px;
    color: $primary-blue;
    font-weight: $font-weight-bold;
    margin-bottom: 32px;
  }

  &__stats {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    justify-content: space-between;
    width: 100%;
  }
}