.filter-container {
  width: 270px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #545f7d;
      margin-bottom: 10px;
    }

    .input-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      input, select {
        width: 100%;
        padding: 12px;
        border: 1px solid #21334530;
        border-radius: 8px;
        font-size: 14px;
        color: #213345;
        opacity: 0.7;
        outline: none;
        background-color: #fff;

        &::placeholder {
          color: #545f7d;
          opacity: 0.7;
        }
      }

      .icon {
        position: absolute;
        right: 15px;
        pointer-events: none;
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    button {
      width: 48%;
      padding: 12px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.8;
      }

      &.reset-btn {
        background: #ffffff;
        border: 1px solid #545f7d;
        color: #545f7d;
      }

      &.filter-btn {
        background: #39cdcc;
        border: 1px solid #39cdcc;
        color: #ffffff;
      }
    }
  }
}